@import url(http://fonts.googleapis.com/css?family=Open+Sans:300,400,600);

body {
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
	margin: 0;
}

h1, h2 {
	font-weight: 300;
}

ul {
  list-style: none;
  padding: 0;
}

li {
  margin: 10px 0;
}

.center-align {
  text-align: center;
}

.contact {
  font-size: 15px;
  margin-top: 70px;
  margin-left: 10px;
}

#Top {
	overflow: hidden;
}

#TopHeader {
	width: 1050px;
	position: relative;
	clear: both;
	margin-bottom: 10px;
}

h1 {
	margin: 50px 0 0 40px;
	display: none;
	font-size: 40px;
	position: relative;
	bottom: -12px;
  letter-spacing: -1px;
}

h1.visible {
  display: block;
}

h2 {
	position: absolute;
	bottom: -7px;
	right: 50px;
	margin: 0;
	display: none;
}

#Topline {
	width: 100px;
	opacity: 0;
	float: left;
	border: 1px solid black;
	border-bottom: 0;
	margin: 0;
}

#LeftMenu {
	margin-top: 20px;
	padding: 20px 20px 20px 30px;
	font-size: 24px;
	float: left;
}

#LeftMenu a {
	display: block;
	text-decoration: none;
	color: black;
	opacity: 0;
	margin: 10px;
	position: relative;

 -moz-transition: color 0.3s ease-out;  
   -o-transition: color 0.3s ease-out;  
-webkit-transition: color 0.3s ease-out;  
  -ms-transition: color 0.3s ease-out;  
	  transition: color 0.3s ease-out;  

}

#LeftMenu a:hover,
#LeftMenu a.selected {
	color: #04a;
}

#Content {
	width: 750px;
	margin: 50px 0 0 100px;
	float: left;
	font-size: 18px;
}

#Content div {
	display: none;
}

#DroneTest {
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -200px;
  margin-left: -410px;
  height: 300px;
  width: 800px;
  font-size: 18px;
}

#DroneTest .intro {
  float: left;
  width: 400px;
}

#DroneTest .intro p {
  opacity: 0;
}

#DroneTest .controls {
  width: 350px;
  padding-left: 50px;
  padding-top: 25px;
  float: right;
}

#DroneTest .controls label {
  display: block;
  font-size: 14px;
}

#DroneTest .controls input[type='range']{
  width: 300px;
}

#DroneTest .sliderVal {
  font-weight: 400;
}

#EverythingAllAtOnce {
  text-align: center;
}

#EverythingAllAtOnce .pageHeader {
  font-size: 40px;
  margin: 50px 0;
}

#EverythingAllAtOnce .instructions {
  margin-bottom: 10px;
}